.toasts {
  position: fixed;
  bottom: 0;
  left: 50%;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-1);
  width: 100%;
  transform: translate(-50%, 0);
}

.toast {
  display: flex;
  gap: var(--spacing-2);
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: var(--spacing-3);
  color: var(--text);
  background-color: var(--background);
  border-radius: var(--radius-1);

  &__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-1);
    align-items: flex-start;
  }

  &__title {
    color: var(--title);
  }

  &--variant {
    &-success {
      --title: var(--color-success-900);
      --text: var(--color-success-700);
      --background: var(--color-success-100);
    }

    &-error {
      --title: var(--color-error-900);
      --text: var(--color-error-700);
      --background: var(--color-error-100);
    }

    &-info {
      --title: var(--color-info-900);
      --text: var(--color-info-700);
      --background: var(--color-info-100);
    }
  }
}
