*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

:root {
  --space-025: 0.125rem; // 2px
  --space-050: 0.25rem; // 4px
  --space-075: 0.375rem; // 6px
  --space-100: 0.5rem; // 8px
  --space-125: 0.625rem; // 10px
  --space-200: 1rem; // 16px
  --space-250: 1.25rem; // 20px
  --space-300: 1.5rem; // 24px
  --space-325: 1.625rem; // 28px

  --horizontal-space: var(--space-250);

  color-scheme: light dark;
}
