.alert {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-1);
  padding: var(--spacing-2);
  color: var(--text);
  background-color: var(--background);
  border-radius: var(--radius-1);

  &__title {
    color: var(--title);
  }

  &--variant {
    &-success {
      --title: var(--color-success-900);
      --text: var(--color-success-700);
      --background: var(--color-success-100);
    }

    &-error {
      --title: var(--color-error-900);
      --text: var(--color-error-700);
      --background: var(--color-error-100);
    }

    &-info {
      --title: var(--color-info-900);
      --text: var(--color-info-700);
      --background: var(--color-info-100);
    }
  }
}
